.link {
    position: relative;
    display: flex;
    align-items: center;
}
.link::before {
    content: '';
    left: 10px;
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url("../../../img/profile.svg");
    background-repeat: no-repeat;
}
.link:nth-child(2)::before {
    background-image: url("../../../img/news.svg");
}
.link:nth-child(3)::before {
    background-image: url("../../../img/messages.svg");
}
.link:nth-child(4)::before {
    background-image: url("../../../img/music.svg");
}
.link:last-child::before {
    background-image: url("../../../img/settings.svg");
}
.link a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-size: 2rem;
    color: #777;
    padding: 10px 10px 10px 50px;
    border-radius: 10px;

}
.link a:hover {
    background-color: #333335;
}