.makeNewPost {
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
    padding-bottom: 30px;
}
.makeNewPost::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #333335;
}
.makeNewPost input{
    width: 100%;
    height: 70px;
    background-color: #444446;
    padding: 10px;
    margin-bottom: 10px;
}
.makeNewPost button {
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: #666666;
    color: #ffffff;
    align-self: flex-end;
}