body {
    background-color: #222126;


}
.wrapper {
overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.main-row{
    max-width: 990px;
    padding: 0 15px;
    margin: 30px auto;
    display: flex;
}

